@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";

@theme {
  --font-snpro: "SN Pro", sans-serif;
  --breakpoint-xs: 20rem;
}

html, body { 
    cursor: pointer !important;
    cursor: url('./assets/mouse1.png'), auto !important 
}

@keyframes nyanfly {
  0% {
    transform: translateX(-1100px);
  }
  100% {
    transform: translateX(100vw);
  }
}

.nyancat-animate {
  animation: nyanfly 40s infinite linear;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

